.wrapper-head {
    display: flex;
}
.wrapper-head1 {
    display: flex;
    justify-content: end;
}
.wrapper-body {
    height: 450px;
    
    .bk-table {
        max-height: 86%;
        overflow-y: auto;
    }
}
.dialog-body {
    overflow: hidden;
    display: flex;
    justify-content: center;
}