.wrapper-head {
    display: flex;
}
.wrapper-head1 {
    display: flex;
    justify-content: end;
}
.wrapper-body {
    height: 500px;
    
    .bk-table {
        max-height: 86%;
    }
}
.dialog-body {
    display: flex;
    justify-content: center;
}